
/*Background*/

body {
    background-image: url("imgs/forest.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}

/*Icon Links*/

.icon {
    color: rgb(246, 193, 0);
    font-size: 80px;
    margin-bottom: 40px;

}
.icon:hover {
    color: dodgerblue;
    font-size: 80px;
}

/*Icons*/

.fa-js-square {
    color: yellow;
    font-size: 150px;
}

.fa-html5 {
    color: darkorange;
    font-size: 150px;
}

.fa-css3-alt {
    color: dodgerblue;
    font-size: 150px;
}

.fa-bootstrap {
    color: rebeccapurple;
    font-size: 150px;
}

.fa-git-alt {
    color: orangered;
    font-size: 160px;
}

.fa-react {
    color: cyan;
    font-size: 150px;
}

.fa-node {
    color: yellowgreen;
    font-size: 140px;
    margin-right: auto;
    margin-left: auto;
}

.fa-docker {
    color: deepskyblue;
    font-size: 130px;
}

.fa-figma {
    color: whitesmoke;
    font-size: 150px;
}

.fa-npm {
    color: red;
    font-size: 150px;
}

.fa-file-excel {
    color: seagreen;
    font-size: 150px;
}

.fa-terminal {
    color: snow;
    font-size: 100px;
    padding-top: 20px;
}

.fa-linux {
    color: black;
    font-size: 150px;
    background-color: white;
    width: 155px;
    border-radius: 10%;
    padding-top: 2px;
    padding-bottom: 1px;
    margin-right: auto;
    margin-left: auto;
}

.fa-windows {
    color: deepskyblue;
    font-size: 150px;
}

.fa-apple {
    color: darkred;
    font-size: 150px;
}

.fa-chrome {
    color: #ffc208;
    font-size: 150px;
}

.fa-firefox-browser {
    color: orangered;
    font-size: 150px;
}

.fa-edge {
    color: midnightblue;
    font-size: 150px;
}

.fa-safari {
    color: lightskyblue;
    font-size: 150px;
}

/*Navbar Toggler*/

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28246, 193, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
    border: 3px solid rgb(246, 193, 0);
}